body {
  margin: 2px;
  width: 320px;
}

.inline {
  display: inline;
}

img.home {
  padding: 5px;
}

#topnav {
  border-bottom: 1px solid;
}

#topnav a {
  text-decoration: none;
  cursor: pointer;
}

#content {
  padding-top: 5px;
  height: 300px;
  overflow-y: auto;
}

:not(.active) > .nav-image {
  opacity: 0.75;
  -webkit-filter: grayscale(100%);
}

.package-header {
  cursor: pointer;
}

.new-package {
  background: #3EC401;
  color: white;
}

.package-image, .package-data {
  display: inline-block;
}

.sticker {
  width: 75px;
  cursor: pointer;
}

.sticker:hover {
  background-color: #E5FFDA;
}

.large-sticker {
  height: 230px;
}

.middle {
  vertical-align: middle;
}

.center {
  text-align: center;
}

.footer {
  padding: 5px;
  cursor: pointer;
}

.footer:hover {
  background-color: #FCACAC;
}

.url-textarea {
  width: 90%;
  word-break: break-all;
}

