body {
  margin: 2px;
  width: 320px;
}

.inline {
  display: inline;
}

img.home {
  padding: 5px;
}

#topnav {
  border-bottom: 1px solid;
}

#topnav a {
  text-decoration: none;
  cursor: pointer;
}

#content {
  height: 300px;
  overflow-y: auto;
}

:not(.active) > .nav-image {
  opacity: 0.75;
  -webkit-filter: grayscale(100%);
}

#clipboard {
  width: 1px;
  height: 1px;
  border: 0;
  padding: 0;
  margin: 0;
  color: white;
  outline: none;
}

#new-package {
  padding: 5px;
  width: 100%;
  color: white;
  background: #3EC401;
  cursor: pointer;
}

.package-image, .package-data {
  display: inline-block;
  vertical-align: middle;
}

.sticker {
  cursor: pointer;
}

.sticker:hover {
  background-color: #E8FBFF;
}

