body {
  margin: 2px;
  width: 320px;
}

.inline {
  display: inline;
}

img.home {
  padding: 5px;
}

#topnav {
  border-bottom: 1px solid;
}

#topnav a {
  text-decoration: none;
  cursor: pointer;
}

.nav-img {
  width: 38px;
}

#content {
  padding-top: 5px;
  max-height: 300px;
  overflow-x: hidden;
  overflow-y: auto;
}

:not(.active) > .nav-image {
  opacity: 0.75;
  -webkit-filter: grayscale(100%);
}

.package-header {
  cursor: pointer;
}

.new-package {
  background: #3EC401;
  color: white;
}

.package-image, .package-data {
  display: inline-block;
}

.sticker-container {
  display: inline-block;
  overflow: visible;
  width: 75px;
  height: 70px;
  position: relative;
}

.sticker, .sticker-hitbox {
  position: absolute;
  top: 0;
  left: 0;
  width: 75px;
  height: 70px;
  cursor: pointer;
}

.sticker-hitbox {
  z-index: 100;
}

.sticker-hitbox:hover+.sticker {
  z-index: 50;
  transform: scale(2.0);
}

.large-sticker {
  height: 230px;
}

.middle {
  vertical-align: middle;
}

.center {
  text-align: center;
}

.footer {
  padding: 10px;
  cursor: pointer;
}

.footer:hover {
  background-color: #FCACAC;
}

.url-textarea {
  width: 90%;
  word-break: break-all;
}

