<div package-header
  package="newPackage"
  is-new="true"
  ng-show="newPackage"
  ng-click="addNewPackage()"></div>

<div id="recent-stickers">
  <img
    class="sticker"
    ng-repeat="sticker in recentStickers()"
    ng-click="useSticker(sticker)"
    ng-src="{{sticker.thumbnailUrl}}" />
</div>

<div class="footer" ng-show="recentStickers().length" ng-click="clearRecentStickers()">
  <img class="delete middle" src="icons/delete.png">
  <span class="middle">Clear recent stickers</div>
</div>


